body{
    padding-bottom: 40px;
   /* background-image: linear-gradient(to right top, #7f71da, #d05dc1, #ff5092, #ff6358, #fb8b10);*/
      background-image: url("https://64.media.tumblr.com/b87bbbd43750b81928a261335ed69e75/tumblr_onfb2h2yEf1s14nrdo1_500.gifv");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}
.flag{
    margin-top: 40px;
    background-image: radial-gradient(circle, #5669b9, #687bc3, #7b8dcd, #8e9fd6, #a2b1df, #a6b3ea, #abb5f5, #b1b6ff, #b5a4ff, #c28eff, #d772ff, #f046f8);
    width: 250px;
    height: 330px;
    font-size: 4px;
    color: rgb(39, 77, 114);
    border-radius: 5px;
    position: relative;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Merienda', cursive;
    font-size: min(max(16px, 4vw), 12px);
}
.flag:hover{
    transform: scale(1.03);
    background-image: radial-gradient(circle, #6b81d1, #858bd6, #9b95da, #afa0df, #c1ace4, #caabe5, #d3abe5, #ddaae5, #e49add, #ec88d1, #f475c2, #fb5fb0);
    box-shadow:none;
    transition-duration: 1s;
    color: black;
    font-size: min(max(16px, 4vw), 12px);
}
img{
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}
ul{
    margin-top: 10px;
    list-style-type:none;
    line-height: 200%;
}
p{
    padding-top: 10px;
    text-align: center;
}
span{
    font-weight: lighter;
}
